* {
    font-family: Tahoma !important;
}
.fa {
    font-family: FontAwesome !important;
}
.btn-primary:not(:disabled):not(.disabled), .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #FFFFFF;
    background-color: #1477be;
    border-color: #1477be;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #FFFFFF;
    background-color: #1477be;
    border-color: #1477be;
}
a {
    color: #1477be;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: #1477be;
    text-decoration: underline;
}
.form-control:focus {
    color: #495057;
    background-color: #FFFFFF;
    border-color: #1477be;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #d8e8f4;
}
.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem #548db8;
}


body .bg {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: url(../image/bg.png);
    background-size: cover;
    background-position: center;
    opacity: 0.2;
}

body {
    //font-family: Roboto;
    color: #fff;
    height: 100%;
    font-size: 14px;
    position: relative;
    background-color: #0d3568;
    background: linear-gradient(135deg, #516f96 0%, #3189ae 100%);
}

.comp_name {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    //font-family: "RobotoCondensed";
    margin-bottom: 20px;
    //text-shadow: 0px 1px 2px rgb(0 0 0 / 30%);
}

.comp_name .title {
    color: #ffe952;
    //text-shadow: 0px 1px 2px rgb(0 0 0 / 30%);
    font-size: 28px;
    margin-bottom: 5px;
}

.custom_logo{
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}

.login .card-header{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.input .icon {
    position: absolute;
    width: 36px;
    text-align: center;
    color: #aaa;
    padding: 7px 0px;
    font-size: 21px;
    background: #f9f9f9;
    border: 1px solid #d5d6d7;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.oe_login_form .form-control, .oe_reset_password_form .form-control {
    padding: 7px 10px;
    border: 1px solid #ddd;
    width: 100%;
    height: auto;
    border-radius: 2px;
    padding-left: 40px;
}

.comp_name .title:nth-child(1) {
	color: #ffdf00 !important;
    font-size: 28px;
    margin-bottom: 5px;
    font-weight: normal;
    text-shadow: -2px 2px #052e52;
    margin-top: 20px;
}
.comp_name .title:nth-child(2) {
    font-weight: normal;
    color: #fff;
    text-shadow: -2px 2px #052e52;
    font-size: 21px;
}
.container.login {
    max-width: 900px !important;
}
.login .card-header {
    background: none;
    font-size: 16px;
    border-bottom: 0px;
	padding-top: 20px;
}
.login .oe_login_form
{
	border-top: 1px solid #eee !important;
    padding-top: 15px;
    border-style: none;
}
.login .card
{
	box-shadow: -4px 4px 15px #174769;
}
.login form label {
    font-weight: 600;
    font-size: 12px;
    color: #5a5a5a;
}
.login  .card .card-body {
    padding: 0px 25px 20px 25px;
}

.login  .oe_login_form  .clearfix.oe_login_buttons.text-center.mb-1.pt-3
{
	padding-top: 0px !important;
}
.login  .oe_login_form  .clearfix.oe_login_buttons.text-center.mb-1.pt-3 a
{
	color: #0f4f79;
	font-size: 13px;
}
.login  .oe_login_form  .clearfix.oe_login_buttons.text-center.mb-1.pt-3 a:hover
{
	text-decoration: none;
	cursor: pointer;
}
.login  .oe_login_form button.btn.btn-primary.btn-block {
	height: 47px;
    text-transform: uppercase;
    border-radius: 2px;
    text-shadow: -1px 1px #003f6d;
    font-size: 15px;
}

.login .oe_reset_password_form
{
	border-top: 1px solid #eee !important;
    padding-top: 15px;
    border-style: none;
}

.login .oe_reset_password_form .clearfix.oe_reset_password_buttons.text-center.mb-1.pt-3
{
	padding-top: 0px !important;
}

.login .oe_reset_password_form button.btn.btn-primary.btn-block {
    height: 47px;
    text-transform: uppercase;
    border-radius: 2px;
    text-shadow: -1px 1px #003f6d;
    font-size: 15px;
}

.login .oe_reset_password_form .clearfix.oe_reset_password_buttons.text-center.mb-1.pt-3 a:hover {
    text-decoration: none;
    cursor: pointer;
}

.login .oe_reset_password_form .clearfix.oe_reset_password_buttons.text-center.mb-1.pt-3 a {
    color: #0f4f79;
    font-size: 13px;
}